$base-font-size: 16px !default;
$text-color: black;
$border-color: lightgray;

@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2'), url('//github.com/quiple/hbios-sys/blob/main/HBIOS-SYS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: $text-color;
    margin: 0;
    word-break: break-word;
    font-family: "HBIOS-SYS" !important;
}

ul {
    padding-left: 10px;
    margin: 10px;
}

li {
    margin-bottom: 10px;
}

article {
    padding: 0 20px 0 20px;
}

header,footer {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.site-title {
    color: $text-color;
    font-weight: bold;
}

.post-info {
    margin: auto;
}

table {
    th,td {
        border-bottom: 1px solid $border-color;
        border-right: 1px double $border-color;
    }
}

.content-wrapper {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    * {
        max-width: 100%;
    }
}
