---
---
@import "base";
@import "syntax-highlighting";
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@latest/neodgm/style.css');
@font-face {
  font-family: HBIOS-SYS;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HBIOS-SYS'),
       url('./assets/HBIOS-SYS.woff2') format('woff2'),
       url('./assets/HBIOS-SYS.ttf') format('truetype');
}
